* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1.188rem;
}

li {
    font-size: 1.188rem;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:600px;
}
body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Keeping everything to the center of the page with standards */
.centre {
    width: 70%;
    margin: 0 auto 50px auto;
    text-align: center;
}

/*styling navigation bar*/

.navbar li a:hover {
    background-color: #07d22f;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}

/* Designing the image section */

#img-section {
    padding:140px;
    background-image: url("/images/banner.jpg");
    background-repeat: no-repeat;
    height: 400px;
}

/* Designing the services section */
#services h5,p{
    text-align: left;
}
#services h5 {
    margin: 20px 0px 0px 0px;
    font-weight: bold;
}


/* Designing the about us section */
#about img {
width: 100%;
}
#about h4,h1,p {
    text-align: left;
} 
.about-btn {
    
        border: 2px solid grey;
        padding: 10px 0;
        width: 250px;
}

/* Desiging the question section */
#question {
    background-image: url(/images/qurestions-banner.jpg);
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
    padding: 140px;
}

.btn-question {
    background-color: yellow;
    padding: 10px 0;
    width: 250px;
}

/* Desiging the table section */


#table {
text-align: left;
}
.tablehead {
    background-color: rgba(228, 228, 234, 0.967);
}



/* Desiging the form section */

.form-imag {
    background-color: rgba(228, 228, 234, 0.967);
}

.row{
    text-align: left;
}

.form-imag img {
    width: 100%;
    height: 60vh;
}
.submit-btn {
    background-color: #07d22f;
    width: 200px;
}

/* Designing contact us section */

#contact {
    background-color: rgba(228, 228, 234, 0.967);
}
.contact-content {
    margin: auto;
    width: 70%;
    padding: 50px 0;
}

.contact-detail {
    margin: 50px auto;
    width: 70%;
}
/* Designing the footer */
footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px 0px;
}


@media (max-width:894px) {
    #table {
        font-size: 12px;
    }
}
@media (max-width:894px) {
    #table {
        font-size: 8px;
    }
    .btn-question{
        width: 150px;
        padding: 0 auto;
    }
}